<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sofa Test</title>
</head>
<body>
    <h2>Teste do Sofá</h2>
    <h1>Garantindo o seu conforto</h1>
    <p>Ajudamons pessoas a se sentirem confortáveis em seus</p>
    <p>momentos de lazer e descanso.</p>

    
    <form action="/login" method="POST">
        
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required>
        <button>Entrar</button>
    </form>
    <a href="/registrar">Nova Conta</a>

    <!-- <a href="/sofas">Ver todos os Sofas</a> -->
    
</body>
</html>