<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Inspetor</title>
</head>

<body>
    <h1>Editar Inspetor</h1>
    <form action="/inspetores/<%=inspetor._id%>?_method=PUT" method="POST">
    
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="inspetor[nome]" value="<%=inspetor._user.nome%>">
        <label for="email">Email</label>
        <input type="email" id="email" name="inspetor[email]" value="<%=inspetor._user.email%>">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="inspetor[senha]">
        <button>Atualizar Inspetor</button>
    </form>
    <a href="/inspetores/<%=inspetor._id%>">Voltar para o Inspetor</a>

</body>

</html>